.mainContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;    

}
.label{
    justify-self: center;
    padding-left:50px;
}
 .p{
    margin: 50px ;
 }
.button{
    justify-content: center;
    margin-left:25px;

}